# ========================
# Dependencies
# ========================
node_modules/

# ========================
# pnpm
# ========================
.pnpm-debug.log*
pnpm-debug.log*

# ========================
# Build output
# ========================
dist/
build/
out/

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# Environment variables
# ========================
.env
.env.*
!.env.example

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Coverage
# ========================
coverage/

# ====================

/src/generated/prisma
